@use '../abstracts/' as *;

// Esto puede ser de mucha ayuda a la hora de crear botones y navegations.

.flex-group-1 {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--flex-column-gap, $flex-group-gap);
  row-gap: var(--flex-row-gap, calc($flex-group-gap) / 2);
  width: fit-content;
}
